/* Tailwind is allowed */
*{
    transition: all .3s !important;
}
body{
    background: var(--dark-bg);
    color: var(--light-text);
}
header, .wrapper, footer{
    max-width: 1500px;
    @apply w-full mx-auto border
}
section{
    min-height: 40vh;
    @apply border p-4 flex flex-col items-start justify-center
}
.btn-wrap{
    @apply flex justify-center items-center border gap-8
}
