/* Tailwind is allowed */
*{
    transition: all .3s !important;
}
body{
    background: black;
    color: var(--light-text);
}
header, .wrapper, footer{
    max-width: 1500px;
    @apply w-full mx-auto border
}
section{
    min-height: 40vh;
    @apply border px-4 py-16 flex flex-col items-start justify-center
}
.wrapper{
    @apply rounded-lg border 
}
.card-wrap{
    .card{
        max-width: 430px;
        @apply  w-full shadow-md rounded-lg p-4 flex flex-col items-start justify-center
    }
    @apply flex gap-10 items-center justify-center flex-wrap
}

.sect-intro{
    @apply mx-auto border text-5xl font-bold mb-4 text-center text-[var(--primary-light)] bg-clip-text text-transparent bg-gradient-to-t from-[var(--primary-light)] to-[var(--primary-dark)];
}
.sect-desc{
    @apply mx-auto font-semibold text-xl italic my-4 text-center
}
.btn-wrap{
    @apply flex justify-center items-center border gap-8
}
